



.addblock{
    min-width: 230px;
    overflow: hidden;
}
.adddevice{
    width: 208px;
    height: 32px;
    margin-top: 9px; 
    margin-left: 10px;
    padding-top: 0.25rem;
    font-size: 14px;
}
.adddevicebutton{
    margin-top: 15px;
    width: 208px;
    height: 32px;
    margin-left: 10px;
    padding-top: 0.1rem;
}
#grad{
  background: linear-gradient(#e9ecef, #c8c8c8);
  padding-top: 5px;
  padding-bottom: 5px;
}
#others{
  margin-left: 0px;
}
#mainNav{
  margin-top: 57px;
  padding-top: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
}
#selectdate{
  padding-left: 10px;
  background-color: #2d3439; 
  float:left;
  width: 230px;
  border: 1px solid #000000;
  border-radius: 3px;
  color: #ffffff;
}
#messagesDropdown{
  color: #D8D8D8;
}
#messagesDropdown:hover{
  color: #ffffff;
}
input::placeholder{
  color: #b8b8b8;
}
@media screen and (min-width: 100px){
.navbar-brand{
    font-size: 25px;
    font-weight: 600;
}
}
@media screen and (min-width: 600px){
.row .col-sm-6{
    max-width: 50%;
    float: left;
}
}
@media screen and (max-width: 480px){
.card-body{
    padding: 0.3rem;
    padding-left: 1.0rem;
}  
.card-footer{
    padding:0.25rem 1.0rem;
}
.card-body-icon{
    right: -2px;
    top: -8px;
    font-size: 2.5rem;
}
}
@media screen and (max-width: 435px){
.card-body-icon{
    right: -10px;
    top: 10px;
    font-size: 2rem;
} 
}
.username{
  text-align: right;
  display: inline-flex;
}

.eTitle{
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 600;
  display: inline-block;
}
@media screen and (max-width: 575px){
.eTitle{
  margin-bottom: 0px;
  margin-top: 2px;
  }
}
.block{
    float: left;
    margin-top: 10px;
}

.block .card-body{
    padding: 0.50rem;
    font-size: 17px;
}
@media screen and (max-width: 435px){
.block .card-body{
    padding: 0.50rem;
    font-size: 13px;
}  
}
.block .card-footer{
    padding: 0.25rem;
    text-align: center;
    font-size: 16px;
}
.col2{
    padding-left: 0px;
    margin-top: 0px;
    padding-right: 0px;
    border: none;
}
.col2 .card-header{
    color: #ffffff;
}
.col2 .card-body{
    
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.row1{
    display: inline-flex;
    padding: 0px;
    padding-left: 0.5rem;
    font-size: 0.93rem;
    color: #666666;
}
.data1{
    max-width: 41.66666667%;
    padding: 0px;
    text-align: left;
}
.data2{
    max-width: 58%;
    padding: 0px;
    text-align: left;
    flex: 0%;
}
.part1{
    display: inline-block;
}
.blockpad{
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
}
.dname{
    float: left;
    padding-left: 0px;
  padding-right: 0px;
  margin:0px;
  border: none;
}
.Sdate{
    float: left;
    padding-left: 18px;
    padding-right: 0px;
}
.Sday{
  float: left;
  margin-left: 25px;
}
a, .link1{
  color: #D8D8D8;
  text-decoration: none;
}
a:hover, .link1:hover{
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 650px){
  #grad{
    padding-left: 5%;
    padding-right: 0%;
  }
  #mainNav{
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  #navbarResponsive .nav-link{
    margin-top: 8px;
  }
  body.sticky-footer .content-wrapper{
  padding-left: 2%;
  padding-right: 2%;
}
.container-fluid{
  padding-right: 0px;
}
.Sday{
  margin-top: 2px;
}
.Sdate{
  margin-top: 2px;
  padding-left: 5px;
  text-align: center;
}
.block{
  margin-bottom: 10px;
  max-width: 50%;
}
}
@media screen and (max-width: 560px){
  .monthwise{
    display: inline-block;
    width: 100%;
    margin-top: 8px;
  }
  #selectdate{
    float: none;
  }
  .Sday{
    float: none;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width:400px ){
.name{
  display: none;
}
}